
.section-tasks {
    padding: 55px 50px 50px 50px;
    margin-left: 250px;
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-actions {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-header img {
    height: 18px;
    margin-right: 10px;
    width: 20px;
    padding: 5px;
}

.section-actions > img:hover {
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(21%) sepia(96%) saturate(5214%) hue-rotate(296deg) brightness(118%) contrast(124%);
    background-color: #dc46f021;
    border-radius: 15px;
}

.new-task {
    height: 35px;
    width: 120px;
    background-color: #4665f0;
    color: white;
    border-radius: 5px;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 4px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    cursor: pointer;
    padding-right: 15px;
}

.new-task img {
    margin: 0;
    height: 10px;
    padding: 0;
    filter: brightness(0) saturate(100%) invert(100%) sepia(77%) saturate(0%) hue-rotate(114deg) brightness(113%) contrast(101%);
}

.new-task:hover {
    background-color: #dc46f0;
}

/*Task board*/

.task-board {
    display: flex;
    justify-content: center;
    gap: 4%;
}

.task-column {
    height: auto;
    width: 30%;
    padding: 0px 15px 0 15px;
    border-radius: 15px;
}

.task-column-todo {
    background-color: #4665f03a;
}

.task-column-header-todo {
    color: #003a86;
}

.btn-add-task {
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 0.9rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    color: white;
}

.btn-add-task img {
    width: 10px;
    padding-right: 10px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(15%) saturate(7444%) hue-rotate(181deg) brightness(116%) contrast(99%);
}

.btn-todo{
background-color: #26539c;
}

.btn-todo:hover{
background-color: #0084ff;
}

.btn-progress{
background-color: #cea82d;

}

.btn-progress:hover{
background-color: #ffc400;
}

.btn-done{
background-color: #39ac4c;
}

.btn-done:hover{
background-color: #00ce22;
}

.task-column-header-todo img {
    filter: brightness(0) saturate(100%) invert(27%) sepia(59%) saturate(710%) hue-rotate(191deg) brightness(92%) contrast(107%);
}

.task-column-in-progress {
    background-color: #f0ba4636;
}

.task-column-header-in-progress {
    color: #885d00;
}

.task-column-header-in-progress img {
    filter: brightness(0) saturate(100%) invert(44%) sepia(7%) saturate(4386%) hue-rotate(3deg) brightness(90%) contrast(79%);
}

.task-column-done {
    background-color: rgba(76, 240, 70, 0.192);
}

.task-column-header-done {
    color: #007c0a;
}

.task-column-header-done img {
    filter: brightness(0) saturate(100%) invert(12%) sepia(68%) saturate(7163%) hue-rotate(89deg) brightness(129%) contrast(116%);
}

.task-column-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-column img {
    height: 20px;
}

/* Empty Task */

.empty-section {
    display: flex;
    position: absolute;
    top: 50%;
    background-color: #3062be;
    padding: 50px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px rgb(134, 153, 214);
}
.new-task-empty {
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    cursor: pointer;
}

.new-task-empty:hover {
    color: #dc46f0;
}

.new-task-section {
    position: absolute;
    display: flex;
    display: none; /* in construction */
    flex-direction: column;
    align-items: center;
    top: 0;
    margin: 40px;
    padding: 40px;
    justify-content: center;
    min-height: 400px;
    min-width: 800px;
    background-color: #ffffff;
    border: solid 5px black;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.title-task {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px;
}

.description-task {
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media screen and (max-width: 1024px) {
    .header-top {
        display: none;
    }

    .section {
        margin-left: 0;
    }
}
